.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal div {
	background-color: #ffffff;
	width: 75%;
	padding: 24px;
}

.modal button {
	position: fixed;
	top: 0;
	right: 0;
	margin: 16px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-size: 22px;
	color: #ffffff;
	font-family: RobotoBold;
	cursor: pointer;
}

.trigger {
	cursor: pointer;
}
